{{> partial1}}

<div id="context">
    <div id="lewa">
        <div class="divLeft">
            <button id="fontMinus" class="div-left-font" name="fontMinus">FONT -</button>
            <button id="color" class="div-left-font" name="color">COLOR</button>
            <button id="fontPlus" class="div-left-font" name="fontPlus">FONT +</button>
        </div>

        <div class="divLeft"><button id="savefile" class="divLeft-a" name="savefile">SAVE file</button>
        </div>
        <div class="divLeft"><button id="changeName" class="divLeft-a" name="changeName">CHANGE NAME</button></div>
        <div class="divLeft"> <a href="/Text/{{name}}" class="divLeft-a" id="ShowFile-a">SHOW FILE</a></div>
    </div>
    <div id="prawa-edit">
        <div id="upName">{{root}}/{{name}}</div>
        <textarea id="line-count" readonly disabled></textarea>
        <form action="/write" method="get" id="FormArea">
            <input name="name" value="{{name}}" hidden>
            <input type="text" name="root" value="{{root}}" hidden>
            <textarea name="content" id="area">{{text}}</textarea><br>
            <button>Send</button>
        </form>
    </div>

    <dialog id="dialog4">
        <form action="/newNameFile" method="get">
            <label id="label1">podaj nową nazwę</label><br>
            <input type="text" name="name">
            <button id="ok" type="submit" class="folder">OK</button>
            <input type="text" name="oldName" value="{{name}}" hidden>
            <input type="text" name="root" value="{{root}}" hidden>
        </form>
        <button id="cancelName" class="folder">ANULUJ</button>
    </dialog>

    <script type="module" src="/js/file.js"></script>